:root{
    --text-body: 1rem;
}
.black-box{
    background-color: black;
    color: white;
    width: 80%;
    margin: auto;
    width: min(80%,800px);
    padding: max(0.5vw, 1rem);
}
.black-box>p {
    font-size: var(--text-body);

}
@media screen and (min-width:768px) {
    :root{
        --text-body: 1.2rem;
    }
    

}