span {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
img{
    margin-left: 18%;
}
.favorite {
    margin-left: 18%;
}
.bloc1 {
    margin-left:20% ;
}
.bloc2 {
    margin-left:17.5% ;
}
.bloc3 {
    margin-left: 8%;
}